<!-- views/items/new.html.erb -->
<h1>Add a New Item for <%= @category.name %> Category</h1>

<%= form_tag(category_items_path(@category)) do %>
  <div>
    <%= label_tag 'item_name', 'Name' %>
    <%= text_field_tag 'item[name]' %>
  </div>

  <div>
    <%= label_tag 'item_amount', 'Amount' %>
    <%= number_field_tag 'item[amount]' %>
  </div>

  <div>
    <%= submit_tag 'Create Item' %>
  </div>
<% end %>
