<div class="container mt-5">
  <h1 class="text-center mb-4">Add a New Item for <%= @category.name %> Category</h1>

  <%= form_tag(category_items_path(@category), class: 'needs-validation', novalidate: true) do %>
    <div class="mb-3">
      <%= label_tag 'item_name', 'Name', class: 'form-label' %>
      <%= text_field_tag 'item[name]', nil, class: 'form-control', required: true %>
    </div>

    <div class="mb-3">
      <%= label_tag 'item_amount', 'Amount', class: 'form-label' %>
      <%= number_field_tag 'item[amount]', nil, class: 'form-control', required: true %>
    </div>

    <div class="mb-3">
      <%= submit_tag 'Create Item', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>


