<!-- app/views/home/index.html.erb -->

<h1>Welcome <%= current_user.name %>!</h1>
<%= button_to 'Log out', destroy_user_session_path, method: :delete %>

<h2>Your Categories</h2>
<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category_path(category) do %>
        <strong><%= category.name %></strong>
        <img src="<%= category.icon %>" alt="<%= category.name %> Icon">
        <%# Total Amount: <%= category.total_amount %> 
      <% end %>
    </li>
  <% end %>
</ul>
