<!-- app/views/categories/show.html.erb -->
<div class="navbars">
  <%= link_to '<-', categories_path, class: "back" %>
  <h1><%= @category.name %></h1>
</div>

<h2 class="text-center mt-3">Transactions</h2>

<ul class="cat-cont">
  <% @items.each do |item| %>
    <li class="lists ls">
      <div>
        <%= item.name %>
      </div>
      <div>
        <%= item.created_at.strftime("%d %b, %Y") %>
      </div>
      <div>
        $<%= item.amount %>
      </div>    
    </li>
  <% end %>
</ul>

<div class="fixed-bottom bg-success p-3">
  <%= link_to "Add Transaction", new_category_item_path(@category), class: "btn btn-block text-white" %>
</div>
