<!-- app/views/categories/show.html.erb -->

<h1><%= @category.name %></h1>

<%= link_to "Add Transaction", new_category_item_path(@category), class: "btn btn-primary" %>

<h2>Transactions</h2>
<ul>
  <% @items.each do |item| %>
    <li><%= item.name %> - Amount: <%= item.amount %></li>
  <% end %>
</ul>

<%= link_to 'Back', categories_path %>
