<!-- app/views/categories/show.html.erb -->
<div class = "navbars">
    <%= link_to '<-', categories_path, class: "back" %>
    <h1><%= @category.name %></h1>
</div>
<h2>Transactions</h2>
<ul class = "cat-cont">
  <% @items.each do |item| %>
    <li class = "lists"><%= item.name %> - Amount: <%= item.amount %></li>
  <% end %>
</ul>
<%= link_to "Add Transaction", new_category_item_path(@category), class: "btn btn-primary" %>

